Source: icingaweb2-module-customvars
Section: net
Priority: optional
Maintainer: David Gubler <david.gubler@vshn.ch>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Homepage: https://github.com/vshn/icingaweb2-module-customvars

Package: icingaweb2-module-customvars
Architecture: all
Depends: icingaweb2-common
Description: Show host variables in icinga web interface
